Options +FollowSymLinks
RewriteEngine On
#RewriteBase /



#Start your rules below##
DirectoryIndex home.php login.php


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home/?$ home.php [NC,L]
RewriteRule ^about/?$ about.php [NC,L]


RewriteRule ^services/?$ services.php [NC,L]
RewriteRule ^service/([^/]*)$ /service_info.php?slug=$1 [NC,L]

RewriteRule ^get-estimate/?$ get_estimate.php [NC,L]

RewriteRule ^contact-us/?$ contact.php [NC,L]

RewriteRule ^campaign/([^/]*)$ /campaign-files/home.php?cslug=$1 [L]

RewriteRule ^thank-you/?$ /campaign-files/thank-you.php [NC,L]
RewriteRule ^sitemap.xml/?$ sitemap.xml [NC,L]
RewriteRule ^robots.txt/?$ robots.txt [NC,L]
