    /*
    Flaticon icon font: Flaticon
    Creation date: 23/09/2019 12:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-car-service:before { content: "\f100"; }
.flaticon-car-service-1:before { content: "\f101"; }
.flaticon-maintenance:before { content: "\f102"; }
.flaticon-car-service-2:before { content: "\f103"; }
.flaticon-brake:before { content: "\f104"; }
.flaticon-headlights:before { content: "\f105"; }
.flaticon-tyre:before { content: "\f106"; }
.flaticon-battery:before { content: "\f107"; }
.flaticon-car-service-3:before { content: "\f108"; }
.flaticon-suspension:before { content: "\f109"; }
.flaticon-wheel-alignment:before { content: "\f10a"; }
.flaticon-windshield:before { content: "\f10b"; }
.flaticon-windshield-1:before { content: "\f10c"; }
.flaticon-tinting:before { content: "\f10d"; }
.flaticon-car-wash:before { content: "\f10e"; }
.flaticon-air-conditioning:before { content: "\f10f"; }
.flaticon-mechanic:before { content: "\f110"; }
.flaticon-car:before { content: "\f111"; }
.flaticon-award:before { content: "\f112"; }
.flaticon-wallet:before { content: "\f113"; }
.flaticon-whatsapp-logo:before { content: "\f114"; }
    
    $font-Flaticon-car-service: "\f100";
    $font-Flaticon-car-service-1: "\f101";
    $font-Flaticon-maintenance: "\f102";
    $font-Flaticon-car-service-2: "\f103";
    $font-Flaticon-brake: "\f104";
    $font-Flaticon-headlights: "\f105";
    $font-Flaticon-tyre: "\f106";
    $font-Flaticon-battery: "\f107";
    $font-Flaticon-car-service-3: "\f108";
    $font-Flaticon-suspension: "\f109";
    $font-Flaticon-wheel-alignment: "\f10a";
    $font-Flaticon-windshield: "\f10b";
    $font-Flaticon-windshield-1: "\f10c";
    $font-Flaticon-tinting: "\f10d";
    $font-Flaticon-car-wash: "\f10e";
    $font-Flaticon-air-conditioning: "\f10f";
    $font-Flaticon-mechanic: "\f110";
    $font-Flaticon-car: "\f111";
    $font-Flaticon-award: "\f112";
    $font-Flaticon-wallet: "\f113";
    $font-Flaticon-whatsapp-logo: "\f114";